@media (min-width: 768px) {
    #hamburger {
        display: none;
        /* Hide hamburger on larger screens */
    }

    nav {
        display: flex !important;
        /* Ensure nav is always visible */
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        margin: 0 15px;
    }

    /* Rentals Container - Two Column Layout */
    #rentals-container {
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        padding: 40px;
    }

    .rental-item {
        padding: 20px;
    }
}