@media screen and (min-width: 900px) {

    header {
        background-color: black;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* Three columns */
        grid-gap: 1rem;
        /* Adjust spacing between the cards */
    }

    .card img {
        width: 25vw;
    }

    .card {
        background-color: white;
    }
}