@media screen and (min-width: 500px) and (max-width: 800px) {
    body {
        font-family: 'Roboto';
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .card img {
        width: 40vw;
    }

    .card:nth-child(3) {
        grid-column: span 2;
    }

    section {
        padding: 10px;
        background-color: white;
    }
}