@media (min-width: 1025px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    main img {
        grid-column: span 2;
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    section.card {
        grid-column: span 1;
    }

    .button {
        grid-column: span 2;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }

    #gallery:hover {
        transform: scale(1);
    }

    #gallery {
        justify-items: center;
        align-content: center;
        width: 95%;
    }

    .main {
        grid-template-columns: 2fr 1fr;
    }

    #members-container.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    #members-container.list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #members-container.list .member-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        text-align: left;
    }

    #members-container.list .member-card img {
        margin-right: 20px;
    }
    #members-container.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    /* List View */
    #members-container.list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #members-container.list .member-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        text-align: left;
    }

    #members-container.list .member-card img {
        margin-right: 20px;
    }

    #members-container.list .member-card:nth-child(even) {
        background-color: #e9ecef;
    }

    nav {
        flex-direction: row;
    }
}
