@media (min-width: 768px) and (max-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    main img {
        grid-column: span 2;
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    section.card {
        grid-column: span 1;
    }

    .button {
        grid-column: span 2;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }

    /* Discover page css */
    main {
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
        /* Two columns for images */
        width: 95%;
    }

}