@media screen and (min-width: 500px) {
    header {
        background-color: darkmagenta;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }
}